.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e6f2ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.store-name {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.store-name:hover {
  color: #0077cc; /* Zmieniamy kolor na niebieski podczas hover */
}


.header-buttons {
  display: flex;
  gap: 12px;
}

.profile-button {
  background-color: #0077cc;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.profile-button:hover {
  background-color: #005fa3;
}

.logout-button {
  background-color: #d32f2f;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #b71c1c;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}

.category-card {
  height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
}

.category-card h2 {
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  margin: 20px;
  border-radius: 6px;
  font-size: 1.25rem;
}

