.equipment-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e6f2ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.store-name {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.store-name:hover {
  color: #0077cc;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.profile-button,
.logout-button,
.back-button {
  background-color: #0077cc;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.profile-button:hover,
.logout-button:hover,
.back-button:hover {
  background-color: #005fa3;
}

.logout-button {
  background-color: #d32f2f;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #b71c1c;
}

.equipment-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}

.equipment-item {
  background-color: #f4f4f4;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.equipment-item:hover {
  transform: translateY(-10px);
}

.equipment-image {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #ddd;
}

.equipment-info {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

.equipment-item h2 {
  color: #333;  /* Jaśniejszy kolor dla tekstu na kafelkach */
  font-size: 1.2em;
  margin: 10px 0;
  text-shadow: 1px 1px 3px #888; /* Szara obramówka */
}

.equipment-item p {
  color: #333;  /* Jaśniejszy kolor dla tekstu na kafelkach */
  text-shadow: 1px 1px 3px #888; /* Szara obramówka */
}

.equipment-info strong {
  color: #333;  /* Jaśniejszy kolor dla wyróżnionego tekstu */
  font-size: 1.1em;
  text-shadow: 1px 1px 3px #888; /* Szara obramówka */
}

.category-header {
  font-size: 2.5em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
